Django==2.0.13
django-bootstrap3==10.0.1
django-crispy-forms==1.7.2
django-dbmi-client==0.3.10
django-health-check==3.6.1
djangorestframework==3.9.4
fhirclient==3.2.0
ppm-utils==0.6.34
raven==6.9.0
requests==2.21.0
urllib3==1.24.3