Django<5.0
django-bootstrap3<23.0
https://github.com/b32147/django-bootstrap-datepicker-plus/releases/download/4.0.0/django_bootstrap_datepicker_plus-4.0.0-py3-none-any.whl
django-crispy-forms<2.0
django-dbmi-client<2.0
django-health-check<4.0
djangorestframework<4.0
ppm-utils==0.15.3
raven<7.0
requests<3.0
