<div class="form-group pbi_avoid">
{% for question in questions %}
    {% if question.type == 'display' %}
    <div class="col-xs-12">
        <p><b>{{ question.text }}</b></p>
    </div>
    {% elif question.type == 'boolean' %}
    <div class="checkbox col-xs-12">
        <label><input type="checkbox"{% if question.answer %} checked {% endif %}/>{{ question.text }}</label>
    </div>
    {% endif %}
    <br />
{% endfor %}
    <div class="row">
        <div class="col-xs-12">
            <label for="name-of-participant">Name of participant</label>
            <input type="text" id="name-of-participant" name="name-of-participant" class="form-control" required="" value="{{ participant_name }}">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <label for="signature-of-participant">Signature of participant (Please type your name)</label>
            <input type="text" id="signature-of-participant" name="signature-of-participant" class="form-control" required="" value="{{ signer_signature }}">
        </div>
        <div class="col-xs-4">
            <label for="date">Date</label>
            <input type="text" id="date" name="date" class="form-control" required="" value="{{ date_signed }}">
        </div>
    </div>
</div>
