{% extends "contact/_base.html" %}

{% load bootstrap3 %}

{% block content %}

        <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Contact Us</h1>
            <form id="contact-form" class="contact-form" method="POST" action="{% url 'contact:contact' %}">
                {% csrf_token %}
                {% bootstrap_form contact_form %}

                {# Check if reCAPTCHA is enabled #}
                {% if not recaptcha_disabled %}
                  <div id="contact-form-recaptcha" class="g-recaptcha" data-sitekey="{{ recaptcha_client_id }}" data-callback="recaptchaCallback"></div>
                {% else %}
                  <div class="alert alert-danger">
                    <strong>Danger!</strong> RECAPTCHA is currently disabled for testing. This should NOT be production.
                  </div>
                {% endif %}

                {% buttons %}
                    <button id="contact-form-submit" type="submit" class="btn btn-primary">Submit {% bootstrap_icon "send" %} </button>
                {% endbuttons %}
            </form>
            {% if not recaptcha_disabled %}
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <script type="text/javascript">
            $(function() {

                // Disable the submit button if recaptcha is enabled
                $('#contact-form-submit').prop("disabled", true);
            });
            </script>
            {% endif %}

        </div>
    </div>

{% endblock %}
