{% extends "fhirquestionnaire/_base.html" %}

{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>
                <span class="glyphicon glyphicon-warning-sign" style="color: red;"></span>
                {{ error_title|default_if_none:"Application Error" }}
            </h1>
            <p class="lead">
                {{ error_message|default_if_none:"Uh oh! This application has experienced an unknown error" }}
            </p>
            {% if support %}
            <p>
                If you think this is an error, please <a href={% url 'contact:contact' %} class='contact-form-button'>click here to contact support</a>.
            </p>
            {% endif %}
            <br /><br />
            <p>
                <a href="{{ return_url }}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;Return to the People-Powered Medicine dashboard</a>
            </p>
        </div>

    </div>

{% endblock %}