<h1>Signature</h1>
 <p>I have read the information in this consent form including risks and possible benefits. All my questions about the research have been answered to my satisfaction. I understand that I am free to withdraw at any time without penalty or loss of benefits to which I am otherwise entitled.</p>
 <p>Please indicate if you DO NOT wish to provide a blood sample for this study. Blood samples will be stored and later analyzed for genetic data.</p>
 <div class="form-group">
    <div class="checkbox col-md-12">
       <label>
          <input name="except" value="82078001" type="checkbox"><!-- react-text: 188 -->I <!-- /react-text --><strong><em>DO NOT</em></strong><!-- react-text: 191 --> WISH TO PROVIDE A BLOOD SAMPLE FOR THIS STUDY.<!-- /react-text -->
       </label>
    </div>
 </div>
 <p>Please indicate if you DO NOT wish to provide a stool sample for this study.  Stool samples will be used to examine the "microbiome", or bacteria, present in your body.</p>
 <div class="form-group">
    <div class="checkbox col-md-12">
       <label>
          <input name="except" value="165334004" type="checkbox"><!-- react-text: 197 -->I <!-- /react-text --><strong><em>DO NOT</em></strong><!-- react-text: 200 --> WISH TO PROVIDE A STOOL SAMPLE FOR THIS STUDY.<!-- /react-text -->
       </label>
    </div>
 </div>
 <p>Please indicate if you DO NOT give us permission to access samples from your tumor that may be stored (for instance, from previous biopsies).</p>
 <div class="form-group">
    <div class="checkbox col-md-12">
       <label>
          <input name="except" value="258435002" type="checkbox"><!-- react-text: 206 -->I <!-- /react-text --><strong><em>DO NOT</em></strong><!-- react-text: 209 --> GIVE PERMISSION FOR MY EXISTING TUMOR SAMPLES TO BE USED FOR THIS STUDY.<!-- /react-text -->
       </label>
    </div>
 </div>
 <p>Please indicate if you DO NOT wish to wear a Fitbit™ for this study.</p>
 <div class="form-group">
    <div class="checkbox col-md-12">
       <label>
          <input name="except" value="284036006" type="checkbox"><!-- react-text: 215 -->I <!-- /react-text --><strong><em>DO NOT</em></strong><!-- react-text: 218 --> WISH TO WEAR A FITBIT™ FOR THIS STUDY.<!-- /react-text -->
       </label>
    </div>
 </div>
 <p>Please indicate if you DO NOT wish to be contacted with additional questionnaires for this study.</p>
 <div class="form-group">
    <div class="checkbox col-md-12">
       <label>
          <input name="except" value="702475000" type="checkbox"><!-- react-text: 224 -->I <!-- /react-text --><strong><em>DO NOT</em></strong><!-- react-text: 227 --> WISH TO BE CONTACTED WITH ADDITIONAL QUESTIONNAIRES FOR THIS STUDY.<!-- /react-text -->
       </label>
    </div>
 </div>
 <p>I agree to participate in the study and to be contacted in the future for additional information.</p>
 <p>(Typing your name below acts as your signature and indicates your permission to take part in this research.)</p>
 <div class="form-group">
    <div class="col-md-8"><label for="name-of-participant">Name of participant</label><input id="name-of-participant" name="name-of-participant" class="form-control" required="" type="text"></div>
 </div>
 <div class="form-group">
    <div class="col-md-8"><label for="signature-of-participant">Signature of participant (Please type your name)</label><input id="signature-of-participant" name="signature-of-participant" class="form-control" required="" type="text"></div>
    <div class="col-md-4"><label for="date">Date</label><input id="date" name="date" class="form-control" required="" value="{{ today }}" type="date"></div>
 </div>
 <button type="submit" class="btn btn-default">Continue</button>