-c constraints.txt
Django
django-bootstrap3
https://github.com/b32147/django-bootstrap-datepicker-plus/releases/download/3.0.6/django_bootstrap_datepicker_plus-3.0.6-py2.py3-none-any.whl
django-crispy-forms
django-dbmi-client
django-health-check
djangorestframework
fhirclient
ppm-utils
raven
requests
