<table border="1">
  <tr>
    <td style="padding: 2px 6px;">Protocol Title: <b>People-Powered Medicine (PPM): Rheumatoid arthritis non-responders to biologic therapies (RANT)</b></td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">Principal Investigator: <b>Susanne Churchill, PhD</b></td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">Description of Study Population: <b>Patients with rheumatoid arthritis with inadequate response to tumor necrosis factor inhibitor (TNFi) and another biologic disease modifying anti-rheumatic drug (bDMARD) or small molecule approved for RA</b></td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">Version Date: <b>July 20, 2020</b></td>
  </tr>
</table>
<br />
<table style="border: 1px solid black;">
  <tr>
    <td style="text-align: center; vertical-align: middle;"><h2>Key Information</h2></td>
  </tr>
  <tr>
    <td style="text-align: center; vertical-align: middle;"><p>The following is a short summary of this study to help you decide whether or not to participate. More detailed information is listed later on in this form.</p></td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">Why am I being invited to take part in a research study?</h3>
      <p>We have invited you to take part in this research study because you have not responded to TNFi therapy and another bDMARD or small molecule approved for RA and are currently on a third biologic or small molecule for RA.</p>
    </td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">What should I know about a research study?</h3>
      <ul>
        <li>Whether or not you take part is up to you.</li>
        <li>You can choose not to take part.</li>
        <li>You can agree to take part and later change your mind.</li>
        <li>Your decision will not be held against you.</li>
        <li>You may discuss your decision with your family, your friends and/or your doctor.</li>
        <li>You can ask all the questions you want before you decide. A member of our research team is available to communicate with you about taking part in this research study if you have questions. Contact information can be found later in this consent form.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">Why is this research being done?</h3>
      <p>An ongoing barrier to understanding and treating medical conditions is obtaining information that goes beyond what we normally collect during a clinical evaluation at a doctor’s office, hospital, or with a developmental specialist. This information can include environmental exposures, treatments at home, other medical conditions, activities, and literally hundreds of other facts. There has been a shift in the amount of health data coming from healthcare institutions in relation to data gathered from “extra-institutional” efforts that are led by companies, patient advocacy organizations, or self-motivated individuals using consumer web applications and devices that connect to the Internet.</p>
      <p>This study (People-Powered Medicine: Rheumatoid Arthritis Non-responders to biologic Therapies, or PPM: RANT) is a project of the Department of Biomedical Informatics at Harvard Medical School and Brigham and Women’s Hospital to create a database through collection of data from approximately 300 participants who have RA and are non-responders to biologic therapies. In doing so, we hope to learn more about rheumatoid arthritis (RA) and the patterns associated with patients who have an inadequate response to tumor necrosis factor inhibitor (TNFi) and another biologic disease modifying anti-rheumatic drug (bDMARD) or small molecule approved for RA. We hope that the knowledge we gain during this study will not only help us to create additional long-term studies in the future, but will also help researchers to identify commonalities among RA non-responders and, ultimately, benefit individuals with RA who have similar characteristics.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h4>Making data available to the participant</h4>
      <p>Another goal of the People-Powered Medicine studies is to collect and combine as much data as possible about you so that participants can have access to this data all in one secure location. This will allow you to have access to your combined medical information so that you can download it and share it with anyone, including clinicians and other researchers, as you see fit.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">How long will I take part in this research?</h3>
      <p>Your active participation in the study will last approximately 12 months, from the time of initial consent and obtaining data (including blood sample collection) through the time of the additional questionnaires. If you decide to join this research study, you will be asked to register with People-Powered Medicine (PPM) online and complete a registration questionnaire to determine eligibility; create an account with Picnic Health (electronic health record collection); provide access to your public-facing social media posts (if available); complete one or more questionnaires about your health and medical history as well as about other health-related topics that pertain to RA; and provide a blood sample.</p>
      <p>More detailed information about the study procedures can be found under the “<i>What can I expect if I take part in this research?</i>” section.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">Is there any way being in this study could be bad for me?</h3>
      <p>Taking part in this research study has some risks and requirements that you should consider carefully. Important risks and possible discomforts to know about include possible pain, bleeding, bruising, or infection at the place where blood samples are taken.</p>
      <p>More detailed information about the risks of this study can be found under the “<i>What are the risks and possible discomforts?</i>” section.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">Will being in this study help me in any way?</h3>
      <p>There are no direct benefits to you from your participation in this research. However, others with rheumatoid arthritis may benefit in the future from the knowledge gained from this research.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">What happens if I do not want to be in this research?</h3>
      <p>Participation in research is completely voluntary. You can decide to participate or not to participate. <i>Your alternative to participating in this research study is to not participate.</i></p>
    </td>
  </tr>
</table>
<div class="pb_before" style="text-align: center;">
  <h3>
  Detailed Information
  </h3>
  <p>
  To follow, please find more detailed information about this study than already provided above.
  </p>
</div>
<div class="pbi_avoid">
  <h3>
  About this consent form
  </h3>
  <p>
  Please read this form carefully. It provides important information about participating in research. You have the right to take your time in making decisions about participating in this research. If you have any questions about the research or any portion of this form, you can ask us at any time. If you decide to participate in this research you will be asked to electronically sign this form. The consent form is available for you to download for your records.
  </p>
</div>
<div class="pbi_avoid">
<h3>
Who can I talk to?
</h3>
<p>
If you have questions, concerns, or complaints, or think the research has hurt you, you can contact the research team:
</p>
<ul>
	<li>
    <b>Katherine P. Liao, MD, MPH</b>, Co-Investigator and Principal Investigator at Brigham and Women’s Hospital, can be reached at 617-525-8819, M-F 9a-5p, and after hours via Partners Paging 617-732-6600, pager 20041.
	</li>
	<li>
    <b>Charlotte Golnik</b>, Research Assistant, can be reached at 617-525-7495 or <b>Thany Seyok</b>, Research Assistant, can be reached at 617-732-8169 [available M-F 9a-5p].
	</li>
	<li>
    <b>Cassandra Perry, MS, CGC</b>, People-Powered Medicine (PPM) Project Manager, can be reached at 617-432-5484 or at Cassandra_Perry@hms.harvard.edu.
	</li>
	<li>
    <b>Susanne Churchill, PhD</b>, Principal Investigator, can be reached at 617-432-3209.
	</li>
</ul>
<p>
This research has been reviewed by the Harvard Longwood Campus Institutional Review Board (IRB). If you wish to speak with someone from the IRB, you may contact the Office of Regulatory Affairs and Research Compliance (ORARC) at 617-432-2157 (or toll-free at 1-866-606-0573) or at irb@hsph.harvard.edu for any of the following:
</p>
<ul>
	<li>
    If your questions, concerns, or complaints are not being answered by the research team,
  </li>
  <li>
    If you cannot reach the research team,
  </li>
  <li>
    If you want to talk to someone besides the research team,
  </li>
  <li>
    If you have questions about your rights as a research participant, or
  </li>
  <li>
    If you want to get information or provide input about this research.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
	Participation is voluntary
</h3>
<p>
You are invited to take part in this research because you have not responded to TNFi therapy and another bDMARD or small molecule approved for RA and are currently on a third biologic or small molecule for RA. It is your choice whether or not to participate. If you choose to participate, you may change your mind and leave the study at any time. Refusal to participate or stopping your participation will involve no penalty or loss of benefits to which you are otherwise entitled.
</p>
</div>
<div class="pbi_avoid">
<h3>
How many people will take part in this research?
</h3>
<p>
About 300 people will take part in this research.
</p>
</div>
<div class="pbi_avoid">
<h3>
What can I expect if I take part in this research?
</h3>
<p>
As a participant, you will be expected to complete the following:
</p>
<ul>
	<li>
    You will complete a registration questionnaire to help us determine whether you are eligible for the study. Each application will be reviewed by the study team for inclusion in the study.
  </li>
  <li>
    If accepted into the study, we will ask for permission to access your public social web presence on Twitter and/or Facebook, if you have accounts. We will only access publicly-available data from these accounts.
  </li>
  <li>
    <i>Medical Records Acquisition</i>:  We will be using the services of PicnicHealth, a company that specializes in obtaining and digitizing medical records and digitizing them, to acquire the medical records for this study. You will be asked to visit PicnicHealth’s landing page for the PPM RANT study, create an account, and provide a list of your doctors. Should any additional medical record collection be necessary outside of PicnicHealth, you may be asked to sign any required forms to collect these medical records.
  </li>
  <li>
    <i>Blood Samples</i>: We will work with you to have a blood sample obtained at Partners or at a laboratory local to you. The amount of blood taken will be approximately 4 teaspoons.<br />This study aims to understand what is involved in collecting and analyzing data of all types in one location, including genetic (DNA) data to better understand and study rheumatoid arthritis. We will perform whole genome analysis on your blood sample. Usually researchers study just a few areas of your genetic code that are linked to a disease or condition. In whole genome analyses, all or most of your genes are looked at and used by researchers to study links to rheumatoid arthritis. We will also perform other tests on your blood sample, such as proteomic analysis (the study of proteins that are in your blood), that may provide a better understanding of rheumatoid arthritis.
  </li>
  <li>
    You will be asked to complete additional surveys/questionnaires related to this study. These will take no longer than 10-15 minutes each and you may choose whether you wish to answer each questionnaire as you receive it. Questionnaires will be emailed to you with an explanation and a link to access the questionnaire online.
  </li>
  <li>
    Data obtained from you for this study will be de-identified (all identifying information will be removed, and it will be given a study ID number) and combined with the de-identified data from others who are part of this study into a single database. The database will then be accessible to qualified investigators approved to do research using the data. The use of this database will be overseen by the Department of Biomedical Informatics.
  </li>
  <li>
    All of the data we collect about you, including medical health record, social media feeds, questionnaires, and raw genomic data will be available for you to download through a secure authentication/authorization portal. Please note that we cannot provide any interpretation of the genomic data. This means that if you choose to download this file, you will receive an extremely large file that will contain a series of letters when you open it. It will not list specific genes, variants, or any health implications. The reason for this is because the analysis is only research grade and should not be used to make any clinical decisions.
  </li>
  <li>
    There are no special requirements for this study. For example, you will not need to stop any current medications.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
What are my responsibilities?
</h3>
<p>
As a participant, you are responsible for completing the registration questionnaire and additional health-related questionnaires that may be sent to you, registering with PicnicHealth so that your medical records can be collected, and providing a blood sample using a local lab of your choice.
</p>
</div>
<div class="pbi_avoid">
<h3>
What are the risks and possible discomforts?
</h3>
<p>
There are possible risks, discomforts, and inconveniences associated with any research study. This study does not involve testing any new drugs or therapies, so we do not expect any medical side effects from participating.
</p>
<ul>
	<li>
    You may feel inconvenienced by having to complete questionnaires or enter data into a website.
  </li>
	<li>
    Some of the data that participants provide is sensitive. There is a risk of social and economic disadvantages if genetic information is disclosed to the wrong source. Therefore, we take the privacy and security of sensitive data seriously and will implement robust data protection measures to safeguard the data, but we cannot guarantee complete privacy and confidentiality.
  </li>
	<li>
    Blood draw risks include pain, a bruise at the point where the blood is taken, redness and swelling of the vein and infection, and a rare risk of fainting.
  </li>
	<li>
    Showing public interest in the involved third parties such as Facebook and Twitter (by visiting our public Facebook or Twitter pages) may be viewable to their respective administrators. If an individual chooses to “Like” our public Facebook page, this may be viewable to other Facebook users in addition to Facebook administrators.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
Are there any benefits from being in this research study?
</h3>
<ul>
	<li>
    Your data that is collected will be made available to you for download from our secure dashboard. This will make it easier to use your data however you wish, including sharing it to support other research efforts.
  </li>
	<li>
    Apart from direct benefits to you, society and the community at large may benefit from knowledge obtained in the research.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
What happens if I say yes, but I change my mind later?
</h3>
<p>
You can leave the research at any time, and it will not be held against you. If you choose to withdraw, we will ask if you wish to:
</p>
<ul>
	<li>
    Allow your collected data to continue to be used in the research, but not participate in any future aspects of the study, or
  </li>
	<li>
    Destroy all data and samples provided by you since enrollment in this study and not participate in any future aspects of the study.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
If I am a patient within Partners, can I still get medical care if I choose not to participate in this research?
</h3>
<p>
Yes, you may still get medical care within Partners if you choose not to participate in this study. Your decision will not change the care you receive now or in the future. Taking part in this research is your choice. If you decide to take part in this study, you may leave/stop the study at any time. There will be no penalty to you and your medical care will not be affected.
</p>
</div>
<div class="pbi_avoid">
<h3>
Will I be compensated for participating in this research?
</h3>
<p>
You will not be compensated for your participation in this research.
</p>
</div>
<div class="pbi_avoid">
<h3>
What will I have to pay for if I participate in this research?
</h3>
<p>
It will not cost you anything to participate in this research.
</p>
</div>
<div class="pbi_avoid">
<h3>
If I take part in this research, how will my privacy be protected? What happens to the information you collect?
</h3>
<p>
We take several steps in our commitment to protect the privacy and security of your data:
</p>
<ul>
	<li>
    Data will be held in secure physical structures that have guarded and credentialed access.
  </li>
	<li>
    Study staff must be approved by the Harvard Medical School (HMS) Institutional Review Board (IRB) prior to being able to see identifiable data. AWS administrators may also have access to the data. Amazon Web Services (AWS) administrators are under contract and bound by policy to not examine data without specific permissions from HMS or Harvard. However, the data may be subject to subpoena without Harvard’s knowledge.
  </li>
	<li>
    We apply policies that ensure that only authorized people associated with research related activities will have access to the data.
  </li>
	<li>
    We will never sell your data to third parties.
  </li>
	<li>
    Your data is overseen by staff trained in applying leading data privacy and security frameworks.
  </li>
	<li>
    Under the U.S. Health Insurance Portability and Accountability Act of 1996, a HIPAA business associate agreement (BAA) is a contract between a HIPAA-covered entity and a HIPAA business associate (BA). The contract protects personal health information (PHI) in accordance with HIPAA guidelines. A BAA is in place between HMS and AWS to help ensure privacy and HIPAA-level security of the data we store in their cloud. We will also adhere to other professional, ethical, and federal regulatory standards protecting health information and research data.
  </li>
	<li>
    Your data will not be shared with your health care provider without your permission and will not become a part of your medical record.
  </li>
	<li>
    The results of this research may be published in a scientific or medical research journal or at conferences so that others can learn from this study. Results will never be published in a way that would allow data to be associated with individual participants.
  </li>
</ul>
<p>
Efforts will be made to limit the use and disclosure of your personal information, including research study and medical records, to people who have a need to review this information. We cannot promise complete secrecy. Organizations that may inspect and copy your information include the IRB and other representatives of the organizations involved in this research. The following people might see information about you:
</p>
<ul>
	<li>
    Research staff and study administrators approved by the IRB to work with the data.
  </li>
	<li>
    Outside investigators approved by the Department of Biomedical Informatics to access de-identified data for research purposes.
  </li>
	<li>
    People or groups that are hired to provide services related to this research, such as obtaining your medical records for us.
  </li>
	<li>
    Federal and/or state agencies that oversee research or others as required by law.
  </li>
	<li>
    Data collected, including identifiable information, may be seen by the Harvard Institutional Review Board (IRB) that oversees the research and/or the Quality Improvement Program.
  </li>
</ul>
<p>
Because you will have access to your participant profile to download your collected data, we must retain your information in order to enable this access. If you decide to share private information with anyone not involved in the study, the federal law designed to protect privacy may no longer apply to this information. Other laws may or may not protect sharing of private health information. If you have any questions about this, please contact us.
</p>
</div>
<div class="pbi_avoid">
<h3>
Can I be removed from the research without my OK?
</h3>
<p>
The person in charge of the research study or the sponsor can remove you from the research study without your approval.
</p>
</div>
<div class="pbi_avoid">
<h3>
What else do I need to know?
</h3>
<p>
This research is being funded by The Blavatnik Family Foundation, through Harvard Medical School.
</p>
</div>
<div class="pbi_avoid">
<h3>
Statement of Consent
</h3>
<p>
I have read the information in this consent form including risks and possible benefits. All my questions about the research have been answered to my satisfaction. I understand that I am free to withdraw at any time without penalty or loss of benefits to which I am otherwise entitled.
</p>
</div>
<p>
I consent to participate in the study.
</p>
