<table border="1">
  <tr>
    <td style="padding: 2px 6px;">Protocol Title: <b>People-Powered Medicine (PPM): Rheumatoid arthritis non-responders to biologic therapies (RANT)</b></td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">Principal Investigator: <b>Susanne Churchill, PhD</b></td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">Description of Study Population: <b>Patients with rheumatoid arthritis with poor response to a tumor necrosis factor inhibitor (TNFi) and another biologic disease modifying anti-rheumatic drug (bDMARD) or small molecule approved for RA</b></td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">Version Date: <b>December 2020</b></td>
  </tr>
</table>
<br />
<table style="border: 1px solid black;">
  <tr>
    <td style="text-align: center; vertical-align: middle;"><h2>Key Information</h2></td>
  </tr>
  <tr>
    <td style="text-align: center; vertical-align: middle;"><p>The following is a short summary of this study to help you decide whether to participate. Detailed information is listed later on in this form.</p></td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">Why am I being invited to take part in a research study?</h3>
      <p>We have invited you to take part in this research study because:</p>
      <ul>
        <li>You have rheumatoid arthritis,</li>
        <li>You have had a poor response (or no response) to two medicines, AND</li>
        <li>You are now on a third medicine for treatment of your RA.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">What should I know about a research study?</h3>
      <ul>
        <li>Whether or not you take part is up to you.</li>
        <li>You can choose not to take part.</li>
        <li>You can agree to take part and later change your mind.</li>
        <li>Your decision will not be held against you.</li>
        <li>You may discuss your decision with your family, your friends and/or your doctor.</li>
        <li>You can ask all the questions you want before you decide. A member of our research team is available to communicate with you about taking part in this research study if you have questions. Contact information can be found later in this consent form.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">Why is this research being done?</h3>
      <p>A common problem that we face when we try to understand and treat medical conditions is the fact that there is a lot of information that is not normally collected during a visit to a doctor’s office, hospital, or a specialist. This can include environmental exposures (chemicals and compounds we come into contact with), treatments at home, other medical conditions, and activities, among other information, and this information can be important when diagnosing or treating a person. Recently, there has been more and more health information collected by companies, patient organizations, or self-motivated individuals through web applications and devices that connect to the internet.</p>
      <p>The Department of Biomedical Informatics at Harvard Medical School and Brigham and Women’s Hospital have teamed up to create a database of information from approximately 300 participants who have rheumatoid arthritis (RA) and who have not responded to biologic therapies. Through this study (People-Powered Medicine: Rheumatoid Arthritis Non-responders to biologic Therapies, or PPM: RANT), we hope that we will learn more about RA and any patterns among patients who have a poor response to RA treatments. This will not only help us to create additional long-term studies in the future but will also help researchers to find factors in common among RA non-responders and will ultimately help individuals with RA who have similar characteristics.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h4>Making data available to the participant</h4>
      <p>Another goal of the People-Powered Medicine (PPM) studies is to collect and combine as much data as possible about participants so that they can have access to this data all in one secure location. This allows participants to have access to their own combined medical information so that they can download it and share it with anyone, including clinicians and other researchers, as they wish.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">How long will I take part in this research?</h3>
      <p>Participation in the study lasts about 12 months, from the time of consent and collecting data (including a blood sample) through the time of any additional questionnaires.</p>
      <p>If you decide to join this research study, you will be asked to register with the study online and answer a list of questions that will help us to determine if you qualify for the study; create an account with PicnicHealth (electronic health record collection); complete one or more surveys about your health and medical history and about other health-related topics that relate to RA; and provide a blood sample.</p>
      <p>More detailed information about the study procedures can be found under the “<i>What can I expect if I take part in this research?</i>” section.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">Is there any way being in this study could be bad for me?</h3>
      <p>Taking part in this research study has some risks that you should consider carefully. Important risks and possible discomforts to know about include possible pain, bleeding, bruising, or infection at the site of the blood samples collection.</p>
      <p>More detailed information about the risks of this study can be found under the “<i>What are the risks and possible discomforts?</i>” section.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">Will being in this study help me in any way?</h3>
      <p>There are no direct benefits to you from your participation in this research. However, others with RA may benefit in the future from what we learn during this study.</p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 2px 6px;">
      <h3 style="font-style: italic; margin-top: 10px; margin-bottom: 5px;">What happens if I do not want to be in this research?</h3>
      <p>Participation in this study is voluntary. You can decide to participate or not to participate. <i>Your alternative to participating in this research study is to not participate.</i></p>
    </td>
  </tr>
</table>
<div class="pb_before" style="text-align: center;">
  <h3>
  Detailed Information
  </h3>
  <p>
  More detailed information about this study is provided below.
  </p>
</div>
<div class="pbi_avoid">
  <h3>
  About this consent form
  </h3>
  <p>
  Please read this form carefully. It provides important information about participating in research. You have the right to take your time in making decisions about participating in this research. If you have any questions about the research or any portion of this form, you can ask us at any time. If you decide to participate in this research, you will be asked to electronically sign this form. The consent form is available for you to download for your records.
  </p>
</div>
<div class="pbi_avoid_disabled">
<h3>
Who can I talk to?
</h3>
<p>
If you have questions, concerns, or complaints, or think the research has hurt you, you can contact the research team:
</p>
<ul>
	<li>
    <b>Katherine P. Liao, MD, MPH</b>, Co-Investigator and Principal Investigator at Brigham and Women’s Hospital, can be reached at 617-525-8819, M-F 9a-5p, and after hours via Partners Paging 617-732-6600, pager 20041.
	</li>
	<li>
    <b>Charlotte Golnik</b>, Research Assistant, can be reached at 617-525-7495 or <b>Thany Seyok</b>, Research Assistant, can be reached at 617-732-8169 [available M-F 9a-5p].
	</li>
	<li>
    <b>Cassandra Perry, MS, CGC</b>, People-Powered Medicine (PPM) Project Manager, can be reached at 617-432-5484 or at Cassandra_Perry@hms.harvard.edu.
	</li>
	<li>
    <b>Susanne Churchill, PhD</b>, Principal Investigator, can be reached at 617-432-3209.
	</li>
</ul>
<p>
This research has been reviewed by the Harvard Longwood Campus Institutional Review Board (IRB). If you wish to speak with someone from the IRB, you may contact the Office of Regulatory Affairs and Research Compliance (ORARC) at 617-432-2157 (or toll-free at 1-866-606-0573) or at irb@hsph.harvard.edu for any of the following:
</p>
<ul>
	<li>
    If your questions, concerns, or complaints are not being answered by the research team,
  </li>
  <li>
    If you cannot reach the research team,
  </li>
  <li>
    If you want to talk to someone besides the research team,
  </li>
  <li>
    If you have questions about your rights as a research participant, or
  </li>
  <li>
    If you want to get information or provide input about this research.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
	Participation is voluntary
</h3>
<p>
You are invited to take part in this research because you have had a poor response or have not responded to two RA treatments and are currently on a third biologic treatment for RA. More specifically, you have had a poor response or no response to:
</p>
<ol>
<li>
<i>A tumor necrosis factor inhibitor (TNFi)</i>, a drug that targets tumor necrosis factor proteins (some examples of TNFi drugs include adalimumab, infliximab, golimumab), AND
</li>
<li>
<i>Another biologic disease modifying anti-rheumatic drug (bDMARD)</i> – a drug that affects the body’s response to a variety of cytokines (some examples of bDMARD drugs include methotrexate, leflunomide, hydroxychloroquine, sulfasalazine) OR <i>small molecule approved for RA</i>
</li>
</ol>
<p>
It is your choice whether to participate in the study. If you choose to participate, you can change your mind and leave the study at any time. Choosing not to participate or stopping your participation will not affect your health care.
</p>
</div>
<div class="pbi_avoid">
<h3>
How many people will take part in this research?
</h3>
<p>
About 300 people will take part in this research.
</p>
</div>
<div>
<h3>
What can I expect if I take part in this research?
</h3>
<ul>
<li>
You will you will be asked to register with the study online and answer a list of questions. Your answers to these questions will then be reviewed by the study team to determine if you qualify.
</li>
</ul>
<h4>If you are accepted into the study:</h4>
<ul>
	<li>
  <i>Medical Records</i>:  To collect your medical records, we will use PicnicHealth, a company that specializes in collecting and digitizing medical records. You will be asked to visit PicnicHealth’s landing page for the PPM RANT study, create an account, and provide a list of your doctors.
    <ul>
      <li>
      If we need to collect any additional medical records outside of PicnicHealth, you may be asked to sign any required forms to collect these medical records through another method (for example, by contacting your doctors directly).
      </li>
      <li>
      If you have concerns or do not wish to allow PicnicHealth to collect your medical records, you can contact study staff and we will try to collect your medical records through another method.
      </li>
      <li>
      We may also use a secure medical record collection application to collect medical records for some participants. This will allow us to compare the number of records we are able to collect using the application with the number of records we are able to collect using PicnicHealth, which will be helpful for future studies.
      </li>
    </ul>
  </li>
  <li>
    <p><i>Blood Samples</i>: We will work with you to have a blood sample collected at a laboratory near you. The amount of blood taken will be approximately 4 teaspoons.</p>
    <p>The goal of this study is to understand what is involved in collecting and analyzing data of all types in one location, including genetic (DNA) data to better understand and study RA. Usually researchers study just a few areas of your genetic code that are linked to a disease or condition. However, we will perform a standard research-grade whole genome sequencing (WGS) analysis on your blood sample. In whole genome analyses, all or most of your genes are looked at and used by researchers to study links to RA. We will also perform other tests on your blood sample, such as proteomic analysis (the study of proteins that are in your blood), that might provide a better understanding of RA. We will not use your blood sample for any testing that is not related to this study unless we contact you first to get your permission.</p>
  </li>
  <li>
    You will be asked to complete additional questionnaires related to this study. These will take about 10-15 minutes each and you can choose whether you wish to complete these questionnaires. Questionnaires will be online, and you will be emailed a link to access them.
  </li>
  <li>
    Before researchers outside of this study are allowed to access this data, any information that is collected about you will be de-identified (all identifying information will be removed, and it will be given only a study ID number) and combined with the de-identified information from other study participants into a single database. The database will then be available to researchers to do research using the de-identified data. The use of this database will be managed by the Department of Biomedical Informatics at Harvard Medical School, and all researchers will need to be approved by the Department before they are allowed access to the database.
  </li>
  <li>
    All of the data we collect about you, including medical health records, questionnaires, and raw genomic data will be available for you to download securely. Please note that we cannot provide any interpretation of the genomic data. This means that if you choose to download this file, you will receive an extremely large file that will contain a series of letters when you open it. It will not list specific genes, variants, or any markers for possible health concerns. <i><b>The reason for this is that the analysis is only research-grade (not high quality) and should not be used to make any clinical decisions</b></i>.
  </li>
  <li>
    There are no special requirements for this study. For example, you will not need to stop any current medications.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
What are my responsibilities?
</h3>
<p>
As a participant, you are responsible for completing the registration questions and additional health-related questionnaires that may be sent to you, registering with PicnicHealth so that your medical records can be collected, and providing a blood sample.
</p>
</div>
<div class="pbi_avoid">
<h3>
What are the risks and possible discomforts?
</h3>
<p>
There are possible risks, discomforts, and inconveniences associated with any research study. This study does not involve testing any new drugs or therapies, so we do not expect any medical side effects from participating.
</p>
<ul>
	<li>
    You might feel inconvenienced by having to complete questionnaires or enter data into a website.
  </li>
	<li>
  Some of the data that participants provide is sensitive, and there may be disadvantages (social, economic) if this information is shared with the wrong source. Therefore, we take the privacy and security of sensitive data seriously and will use strong data protection measures to keep the data secure. However, we cannot guarantee complete privacy and confidentiality.
  </li>
	<li>
  When you have blood drawn, you could experience some pain, a bruise at the site where the blood is taken, redness and swelling of the vein and infection, and a rare risk of fainting.
  </li>
	<li>
  Administrators for Facebook and Twitter might be able to see if you visit our public Facebook or Twitter pages. If you choose to “Like” our public Facebook page or Twitter posts, other Facebook and Twitter users might be able to see this.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
Are there any benefits from being in this research study?
</h3>
<ul>
	<li>
  You will be able to download any information we collect about you from our secure dashboard. This will make it easier to use your data however you wish, including sharing it with other research studies that you wish to participate in.
  </li>
	<li>
  Society, particularly others with RA, may be helped by what is learned through this research.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
What happens if I say yes, but I change my mind later?
</h3>
<p>
You can leave the research at any time, and it will not be held against you. If you choose to leave the study, we will ask if you want to:
</p>
<ul>
	<li>
    Allow the information that we’ve already collected about you to continue to be used in the research, or
  </li>
	<li>
    Destroy all of the information and samples provided by you since you began the study so that it cannot be used in any research after that date.
  </li>
</ul>
</div>
<div class="pbi_avoid">
<h3>
If I am a patient within Partners, can I still get medical care if I choose not to participate in this research?
</h3>
<p>
Yes, you may still get medical care within Partners if you choose not to participate in this study. Your decision will not change the care you receive now or in the future. Being in this study is your choice. If you decide to take part in this study, you may leave/stop the study at any time. There will be no penalty to you, and your medical care will not be affected.
</p>
</div>
<div class="pbi_avoid">
<h3>
Will I be compensated for participating in this research?
</h3>
<p>
You will not be paid for your participation in this study.
</p>
</div>
<div class="pbi_avoid">
<h3>
What will I have to pay for if I participate in this research?
</h3>
<p>
It will not cost you anything to participate in this study.
</p>
<p>
We will instruct the laboratory that you use for your blood draw to bill us directly for any related costs. If you do receive a bill from the laboratory for the blood draw, please call us. We will work with the laboratory to pay them directly or will reimburse you from study funds if you have already paid.
</p>
</div>
<div>
<h3>
If I take part in this research, how will my privacy be protected? What happens to the information you collect?
</h3>
<p>
We take many steps to protect the privacy and security of your data:
</p>
<ul>
	<li>
  Any hard copies of data will be stored in locked structures in locked offices. Electronic files that contain identifiable information will be stored securely and will require a password to access.
  </li>
	<li>
  Study staff must be approved by the Harvard Medical School (HMS) Institutional Review Board (IRB) before being able to see identifiable data. Amazon Web Services (AWS) administrators may also have access to the data. AWS administrators are under contract and bound by policy to not examine data without specific permission from HMS or Harvard. However, the data may be subpoenaed without Harvard’s knowledge.
  </li>
	<li>
  Medical records collected using PicnicHealth are highly encrypted and password protected.  PicnicHealth will not use your medical information for any reason unless you are first contacted for permission.
  </li>
	<li>
  We ensure that only people associated with research-related activities who have been approved by the Department will have access to the data.
  </li>
	<li>
  We will never sell your data to anyone.
  </li>
	<li>
  Study staff are trained in leading data privacy and security measures and use these measures to protect your data.
  </li>
	<li>
  Under the U.S. Health Insurance Portability and Accountability Act of 1996, a HIPAA business associate agreement (BAA) is a contract between a HIPAA-covered institution and a HIPAA business associate. The contract protects personal health information (PHI) according to HIPAA guidelines. A BAA is in place between HMS and AWS to help ensure privacy and HIPAA-level security of the data we store in their cloud. We will also follow other professional, ethical, and federal regulatory criteria to protect health information and research data.
  </li>
	<li>
  Your data will not be shared with your doctor without your permission and will not be included in your medical record.
  </li>
  <li>
  The results of this research may be published in a scientific or medical research journal or presented at conferences so that others can learn from this study. Results will never be published in a way that would allow the data to be linked to individual participants.
  </li>
</ul>
<p>
We will limit the use and sharing of your information, including research study and medical records, to only those people who have a need to review this information. We cannot promise complete secrecy. Organizations that may inspect and copy your information include the IRB and other representatives of the organizations involved in this research. The following people might see information about you:
</p>
<ul>
	<li>
Research staff and study administrators who have been approved by the IRB to work with the data.
  </li>
	<li>
Outside investigators approved by the Department of Biomedical Informatics to access de-identified data for research purposes.
  </li>
	<li>
People or groups that are hired to provide services related to this research, such as collecting your medical records for us.
  </li>
	<li>
Federal and/or state agencies that oversee research or others as required by law.
  </li>
	<li>
Data collected, including identifiable information, could be seen by the Harvard Institutional Review Board (IRB) that oversees the research and/or the Quality Improvement Program.
  </li>
</ul>
<p>
Because you will be able to download the data we collect on you, we must keep your information in order to continue to allow you this access. If you decide to share private information with anyone not involved in the study, the information you share may no longer be protected by the federal law designed to protect privacy. Other laws may or may not protect sharing of private health information. If you have any questions about this, please contact us.
</p>
</div>
<div class="pbi_avoid">
<h3>
Can I be removed from the research without my OK?
</h3>
<p>
The person in charge of the research study or the sponsor can remove you from the research study.
</p>
</div>
<div class="pbi_avoid">
<h3>
What else do I need to know?
</h3>
<p>
This study is being paid for by The Blavatnik Family Foundation, through Harvard Medical School.
</p>
</div>
<div class="pbi_avoid">
<h3>
Statement of Consent
</h3>
<p>
I have read the information in this consent form. All of my questions about the research have been answered. I understand that I can leave the study at any time.
</p>
</div>
<p>
I agree to participate in this study.
</p>
